<div class="footer">
		<div class="footer_info">
			<div class="footer_info_body">
				<div class="l1">
					<dl>
						<dt>联系我们</dt>
						<dd class="ml148">微信帐号&nbsp;&nbsp;{run echo R::getConfig()->getConfig('wx_account');} <span>好友我们即送500积分，热门竞猜推送</span></dd>
						<dd class="ml148">官方邮箱&nbsp;&nbsp;{run echo R::getConfig()->getConfig('admin_email');} <span>24小时内回复</span></dd>
						<dd class="ml148">新浪微博&nbsp;&nbsp;{run echo R::getConfig()->getConfig('sina_weibo');}</dd>
						<dd class="ml148">腾讯微博&nbsp;&nbsp;{run echo R::getConfig()->getConfig('qq_weibo');}</dd>
					</dl>
					<img class="cpic" src="/res/images/temp/yyx_123.gif" />
				</div>
				<div class="l2">
					<dl>
						<dt>说明文档</dt>
						<dd><a href="#">参与竞猜说明</a></dd>
						<dd><a href="#">发布竞猜说明</a></dd>
						<dd><a href="#">庄家认证</a></dd>
						<dd><a href="#">商品兑换说明</a></dd>
						<a href="#" class="pdf"><img src="/res/images/pdf.gif" /></a>
					</dl>					
				</div>
				<div class="l3">
					<dl>
						<dt>关于我们</dt>
						<dd><a href="#">媒体报道</a></dd>
						<dd><a href="#">SOHO 加入我们</a></dd>
						<dd><a href="#">区域代理</a></dd>
						<dd><a href="#">商品供应申请</a></dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="footer_bottom_body">
				 <span class="pull-right">预言星竞猜平台  VERSION: 3.0.0-dev</span>
				 <span>{run echo R::getConfig()->getConfig('copyright');} {run echo R::getConfig()->getConfig('beian');}</span>				
			</div>			
		</div>
	</div>

</body>
</html>