{gtpl header}
	
	<div class="user_body">
		<div class="searcharea">
			<form method="GET" action="/member/list/">
				<label for="name">用户名:</label>
				<input type="text" name="name" id="name" class="span2" value="" />
				&nbsp;&nbsp;
				<label for="sex">性别:</label>
				<select name="sex" style="width: 100px;">
					<option value="all">不限</option>
					<option value="1">男</option>
					<option value="2">女</option>
				</select>
				&nbsp;&nbsp;
				<label for="province">地区:</label>
				<select name="province" onchange="if(this.value=='all'){$('#select_city').hide();}else{getCitySelect(this.value, 'select_city', 1)}" style="width:160px;">
					<option value="all">全部</option>
					{loop $province_arr $pro}
						<option value="{$pro[name]}" {$sel}>{$pro[name]}</option>							
					{/loop}
				</select>
				<select name="city" id="select_city" style="width:160px;display:none;">
				</select>
				&nbsp;&nbsp;
				<input type="submit" value="搜索" class="btn" style="margin-bottom: 10px;"/>				
			</form>
		</div>	
		
		<div class="caption">好友列表</div>
        <ul class="nav nav-tabs" id="user_tab">
			<li><a href="/member/list/t-3.shtml">金币排行</a></li>
			<li><a href="/member/list/t-2.shtml">积分排行</a></li>
			<li><a href="/member/list/t-1.shtml">胜率排行</a></li>
			<li class="active"><a href="/member/friend/">我的好友</a></li>
	        <li><a href="/member/list/">全部用户</a></li>						
        </ul>
        
        <div class="tab-content user_list">
	        
			<!-- 全部 -->
			<div class="tab-pane active" id="t1">
				{if $items}
				{run $index = ($page-1)*$perpage;}
				{loop $items $item}
				{run $index++}
				<div class="useritem" id="item_follow_cancel_{$item[id]}">
					<div class="s1">{$index}</div>
					<div class="userface"><a href="{url /member/space/?uid=$item[id]}"><img src="{$item['avatar']}" /></a></div>
					<div class="username">
						<a href="{url /member/space/?uid=$item[id]}">{$item['name']}</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span>{if $item['sex'] == 1} 男 {elseif $item['sex'] == 2} 女 {/if}</span>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span>{$item[province]}&nbsp;{$item[city]}</span>
					</div>
					<div class="userinfo">
						<p>积分：<span class="c">{$item['available_integral']}</span></p>
						<p>金币：<span class="m">{$item['available_money']}</span></p>
						<p>竞猜：{$item['guess_count']} 场</p>
						<p>成功率：{$item['accuracy']}% 胜率</p>	
					</div>
					<div class="operbtn">
						<a href="/member/friend/cancel/?uid={$item[id]}" class="btn" onclick="ajaxmenu(event, this.id, 1, 2000, 'ajaxMenuDelete')" id="follow_cancel_{$item[id]}" >取消好友</a>
					</div>
				</div>
				{/loop}
				{else}
					<div style="text-align: center; font-size: 14px; padding: 20px;">
						暂无好友信息
					</div>
				{/if}
				
				{$pages}
	        </div>
        </div>
	</div>
{gtpl footer}