{gtpl header}
	<div class="msg_body">
		
		<div class="caption">
			<div class="r">
				<!--<a href="#" class="set">私信设置</a>-->
				<a href="/member/message/send/" class="btn btn-primary sendmsg" id="message_send" onclick="ajaxmenu(event, this.id, 1)">发私信</a>
			</div>
			私信
		</div>

		<div class="msg_list">
			{if $items}
			{foreach $items $item}
			<div class="msg_item" id="item_message_{$item['id']}">
				{if $item['from_uid']}
				<p class="f"><a href="{url /member/space/?uid=$item[from_uid]}">
					{if !empty($_USERS[$item['from_uid']]['avatar'])}
					<img src="{$_USERS[$item['from_uid']]['avatar']}" />
					{else}
					<img src="/res/images/avatar.gif" />
					{/if}
				</a></p>
				<p class="n"><a href="{url /member/space/?uid=$item[from_uid]}">{$_USERS[$item['from_uid']]['name']}</a></p>
				<p class="c">{$item['content']}</p>
				<p class="t">{date $item['create_time']}</p>
				<p class="d">
					{if $item['new']}
					<a href="/member/message/read/?id={$item[id]}" class="btn" id="message_read_{$item['id']}" onclick="return ajaxmenu(event, this.id, 1, 2000, 'ajaxMenuDeleteV2')">已读</a>
					{/if}
					{if $item['from_uid']}
					<a href="/member/message/reply/?id={$item[id]}" class="btn" id="message_reply_{$item['id']}" onclick="ajaxmenu(event, this.id, 1)">回复</a>
					{/if}
					<a href="/member/message/delete/?id={$item[id]}" class="btn" id="message_{$item['id']}" onclick="return comfirmAjaxMenu(event, this.id, 1, 2000, 'ajaxMenuDelete')">删除</a>
				</p>
				{else}
				<p class="f"><img src="{run echo User::AVATAR_SYSTEM}" /></p>
				<p class="n"><a href="javascript:;">{config site_name}</a></p>
				<p class="c">{$item['content']}</p>
				<p class="t">{date $item['create_time']}</p>
				<p class="d">
					{if $item['new']}
					<a href="/member/message/read/?id={$item[id]}" class="btn" id="message_read_{$item['id']}" onclick="return ajaxmenu(event, this.id, 1, 2000, 'ajaxMenuDeleteV2')">已读</a>
					{/if}
					{if $item['from_uid']}
					<a href="/member/message/reply/?id={$item[id]}" class="btn" id="message_reply_{$item['id']}" onclick="ajaxmenu(event, this.id, 1)">回复</a>
					{/if}
					<a href="/member/message/delete/?id={$item[id]}" class="btn" id="message_{$item['id']}" onclick="return comfirmAjaxMenu(event, this.id, 1, 2000, 'ajaxMenuDelete')">删除</a>
				</p>
				{/if}
			</div>
			{/foreach}
			{$pages}
			{else}
			<p>暂无私信</p>
			{/if}
		</div>
				
	</div>
{gtpl footer}