{gtpl header}
{res:js uploadify/swfobject.js}
{res:js uploadify/jquery.uploadify.v2.1.4.min.js}
	<div class="setting_body">
		<div class="caption">金币收支明细</div>
        <ul class="nav nav-tabs" id="setting_tab">
	        <li><a href="/member/recharge/history/">充值记录</a></li>			
			<li class="active"><a href="/member/money/io/">收支明细</a></li>
	        <li><a href="/member/money/">我的金币</a></li>			
        </ul>
        
        <div class="tab-content setting_list">
			<div class="tab-pane active">
				<table class="table mlist table-striped">
				<thead>
					<tr>
						<th>金币</th>
						<th>余额</th>
						<th>时间</th>
						<th>项目</th>
					</tr>
				</thead>
				<tbody>
					{loop $items $item}
					{if $item['from_user_id'] == $user->getId()}
			        <tr>
						<td>
						-{$item['wealth']}
						</td>
						<td>{$item['from_balance']}</td>
						<td>{date $item['create_time'] Y-m-d H:i}</td>
						<td>{$item['from_title']}</td>							
			        </tr>
			        {else}
			        <tr>
						<td>
						+{$item['wealth']}
						</td>
						<td>{$item['to_balance']}</td>
						<td>{date $item['create_time'] Y-m-d H:i}</td>
						<td>{$item['to_title']}</td>							
			        </tr>
			        {/if}
			        {/loop}
				</tbody>
		        </table>
	        </div>
	        {$pages}
        </div>
	</div>
{gtpl footer}