{gtpl simple_header}
{res:js validation/jquery.validate.min.js}
{res:js validation/additional-methods.min.js}
<style>
input.username {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    width: 245px;
}
</style>
<div class="container reg_body">
		<div class="container" style="background-color: white; padding: 50px 0px; width: 625px; padding-left:300px; font-size: 14px;">
		<form action="/member/password/findReset/" id="register_form" method="post">
			<div class="userdiv">
				<p style="width:710px;">新密码</p>
				<p><input type="password" name="password" id="password" class="username"></p>
				<p style="width:765px;">再次输入新密码</p>
				<p><input type="password" name="repassword" id="repassword" class="username"></p>
			</div>
			<input type="hidden" name="code" value="{$code}">
			<input type="submit" value="确 定" class="btn loginbtn">
		</form>
		</div>
	</div>
{gtpl simple_footer}

<script>
$(document).ready(function(){   
    
    /* 设置默认属性 */   
    $.validator.setDefaults({   
      submitHandler: function(form) {form.submit();}   
    });
      
    $('#register_form').validate({
    /* 设置验证规则 */   
      rules: {   
       password: {   
        required: true,   
        minlength: 6   
       },   
       repassword: {   
        required: true,   
        minlength: 6,   
        equalTo: "#password"   
       }
      },   
    /* 设置错误信息 */   
      messages: {   
       password: {   
        required: "请填写密码",   
        minlength: "密码长度至少6位"   
       },   
       repassword: {
        required: "请填写确认密码",   
        equalTo: "两次密码输入不相同",
        minlength: "密码长度至少6位"
       }
      },   
    /* 错误信息的显示位置 */   
      errorPlacement: function(error, element) {   
       error.appendTo( element.parent() );   
      },   
    /* 验证通过时的处理 */   
      success: function(label) {   
       // set   as text for IE   
       label.html(" ").addClass("checked");   
      },   
    /* 获得焦点时不验证 */   
      onkeyup: false   
    });   
      
    // 输入框获得焦点时，样式设置   
    $('input').focus(function(){   
      if($(this).is(":text") || $(this).is(":password"))   
       $(this).addClass('focus');   
      if ($(this).hasClass('have_tooltip')) {   
       $(this).parent().parent().removeClass('field_normal').addClass('field_focus');   
      }   
    });   
      
    // 输入框失去焦点时，样式设置   
    $('input').blur(function() {   
      $(this).removeClass('focus');   
      if ($(this).hasClass('have_tooltip')) {   
       $(this).parent().parent().removeClass('field_focus').addClass('field_normal');   
      }   
    });   
    });   
</script>