{gtpl simple_header}
<style>
input.username {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    width: 245px;
}
</style>
<div class="container reg_body">
		<div class="container" style="background-color: white; padding: 50px 0px; width: 925px; text-align: center; font-size: 14px;">
			<form method="post" id="register_form" action="/member/password/findEmail/">
			<div class="userdiv">
				<p style="width:710px;">账号名</p>
				<p><input type="text" name="account" class="username" value="{$account}"></p>
			</div>
			<input type="submit" value="确 定" class="btn loginbtn">
			</form>
		</div>
	</div>
{gtpl simple_footer}