{tpl header}
{res:js jquery/jquery.selectAll.js}

<div class="KK_ManageList_content">
	{tpl menu}
    <div class="KK_ManageList_mainRt_side right">
    	<div class="KK_ManageList_mainbox_top"></div>
        <div class="KK_ManageList_mainbox">
        	<div class="KK_ManageList_mainbox_inner">
            	<div class="KK_ManageList_position">{lang common_position} &gt;&gt; 竞猜管理 &gt;&gt; 竞猜分类</div>
                <h3>
	                <span class="right" style="margin-right: 15px;">
	                    <a href="{$act_url}add/" style="float: right;">添加</a>
	                </span>
	            </h3>
                <form action="{$act_url}batch/" method="post">
                    <table id="" class="list_table" cellpadding="0" cellspacing="0" border="0">
					<thead>
					<tr>
						<th align="left">分类名称</th>
						<th align="left">启用状态</th>
						<th align="left">竞猜点参数个数</th>
						<th align="left">固定赔率状态</th>
						<th align="left">浮动赔率状态</th>
						<th align="left">排序</th>
						<th align="left" width="180px">操作</th>
					</tr>
					</thead>
					<tbody>
						{loop $list $item}
						<tr>
								<td align="left">
								{$item['name']}
								</td>
								<td align="left">
								{if $item['status']}
								启用
								{else}
								不启用
								{/if}
								</td>
								<td align="left">
								{$item['parameter_count']}
								</td>
								<td align="left">
								{if $item['fixed_odds']}
								启用
								{else}
								不启用
								{/if}
								</td>
								<td align="left">
								{if $item['float_odds']}
								启用
								{else}
								不启用
								{/if}
								</td>
								<td align="left">{$item['sort_num']}</td>
								<td align="left">
									{if !$item['parent_id']}
									<a href="{url /$currentModule/$currentAction/playWay/?id=$item[id]}">玩法编辑</a>
									{/if}
									<a href="{url /$currentModule/$currentAction/edit/?id=$item[id]}">编辑</a>
									<a href="{url /$currentModule/$currentAction/del/?id=$item[id]}" onclick="return opConfirm();">删除</a>
								</td>
						</tr>
						{/loop}
					</tbody>
					</table>
                </form>
            </div>
        </div>
        <div class="KK_ManageList_mainbox_bot"></div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript" language="javascript">
function showNewMenu(show){
    show ? jq("#move_menus").show() : jq("#move_menus").hide();
}
jq("#move_menus").hide();
jq().ready(function(){
    jq.selectAll({"allRel":"all_sel"});
});
</script>

{tpl footer}
