{tpl header}
{res:js kindeditor/kindeditor-min.js}
{res:js kindeditor/lang/zh_cn.js}
<link rel="stylesheet" href="/res/js/kindeditor/themes/default/default.css" />
<div class="KK_ManageList_content">
	{tpl menu}
    <div class="KK_ManageList_mainRt_side right">
    	<div class="KK_ManageList_mainbox_top"></div>
        <div class="KK_ManageList_mainbox">
        	<div class="KK_ManageList_mainbox_inner">
            	<div class="KK_ManageList_position">{lang common_position} &gt;&gt; 资讯管理 &gt;&gt;  添加资讯</div>
                <h3>
	                <span class="right" style="margin-right: 15px;">
	                    <a href="{$index_url}?type={$type}" style="float: right;">返回列表</a>
	                </span>
                </h3>
                <form action="{$insert_url}" method="post" onsubmit="return checkForm(this);">
                    <div class="KK_content_list2_con marginTop10">
                        <div class="KK_content_list2_table">
                            <table>
                                <colgroup>
                                    <col style="width:17%;" />
                                    <col style="width:83%;" />
                                </colgroup>
                                <tr>
                                    <td class="name"><span class="must">*</span>分类</td>
                                    <td class="cot">
                                        <select name="m_cate_id">
				                            {loop $categorys $category}
				                            <option value="{$category['id']}" {if $category['id'] == $cate}selected{/if}>{$category['name']}</option>
				                            {/loop}
				                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name"><span class="must">*</span>标题</td>
                                    <td class="cot">
                                    	<input type="text" class="txt" name="m_title" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">排序</td>
                                    <td class="cot">
                                    	<input type="text" class="txt" name="m_sort_num" value="0" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">浏览数</td>
                                    <td class="cot">
                                    	<input type="text" class="txt" name="m_views" value="0" />
                                    </td>
                                </tr>
                                 <tr>
                                    <td class="name" >内容</td>
                                    <td class="cot"></td>
                                </tr>
                                <tr>
									<td colspan="2">
									<textarea id="content" name="m_content" style="width:100%;height:400px;"></textarea>
									</td>
								</tr>
								<script type="text/javascript">							
									var editor;
							        KindEditor.ready(function(K) {
		                                editor = K.create('#content', {
		                                });
							        });
								</script>
                            </table>
                            <table>
                                <colgroup>
                                    <col style="width:17%;" />
                                    <col style="width:83%;" />
                                </colgroup>
                                <tr>
                                    <td class="name">&nbsp;</td>
                                    <td class="cot">&nbsp;
                                    	<input type="hidden" name="m_type" value="{$type}"/>
                                        <input type="submit"class="btn" value="保  存"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="KK_ManageList_mainbox_bot"></div>
    </div>
    <div class="clear"></div>
</div>
{tpl footer}