{tpl header}

<div class="KK_ManageList_content">
	{tpl menu}
    <div class="KK_ManageList_mainRt_side right">
    	<div class="KK_ManageList_mainbox_top"></div>
        <div class="KK_ManageList_mainbox">
        	<div class="KK_ManageList_mainbox_inner">
            	<div class="KK_ManageList_position">{lang common_position} &gt;&gt; 竞猜管理 &gt;&gt; 玩法</div>
            	
                <h3>
	                <span class="right" style="margin-right: 15px;">
	                    <a href="{$act_url}add/" style="float: right;">添加</a>
	                </span>
	            </h3>
	            
                    <table id="" class="list_table" cellpadding="0" cellspacing="0" border="0">
					<thead>
					<tr>
						<th align="left">玩法名称</th>
						<th align="left">玩法类名</th>
						<th align="left">玩法简介</th>
						<th align="left">状态</th>
						<th align="left" width="100px">操作</th>
					</tr>
					</thead>
					<tbody>
						{loop $items $item}
						<tr>
								<td align="left">{$item['name']}</td>
								<td align="left">{$item['class']}</td>
								<td align="left">{$item['summary']}</td>
								<td align="left">{if $item['status']}启用{else}禁用{/if}</td>
								<td align="left">
									<a href="{url /$currentModule/$currentAction/edit/?id=$item[id]}">编辑</a>
									{if !$item['status']}
									<a href="{url /$currentModule/$currentAction/del/?id=$item[id]}" onclick="return opConfirm();">删除</a>
									<a href="{url /$currentModule/$currentAction/enable/?id=$item[id]}" onclick="return opConfirm('启用后不能删除，你确认吗？');">启用</a>
									{/if}
								</td>
						</tr>
						{/loop}
					</tbody>
					</table>
				{if $pages}
				 <div class="page">
					{$pages}
				　</div>
				 {/if}
            </div>
        </div>
        <div class="KK_ManageList_mainbox_bot"></div>
    </div>
    <div class="clear"></div>
</div>

{tpl footer}