{tpl header}

<div class="KK_ManageList_content">
	{tpl menu}
    <div class="KK_ManageList_mainRt_side right">
    	<div class="KK_ManageList_mainbox_top"></div>
        <div class="KK_ManageList_mainbox">
        	<div class="KK_ManageList_mainbox_inner">
            	<div class="KK_ManageList_position">{lang common_position} &gt;&gt; 用户管理 &gt;&gt; 充值</div>
            	<div class="seachbox">
		            <div class="content2">
		                <form action="{$index_url}" name="searchForm" method="get">
		                <table class="form-table">
		                    <tbody>
		                        <tr>
		                            <td width="10px">
		                                <img src="{res:image icon_search.gif}" border="0" alt="SEARCH" />
		                            </td>
		                            
		                            <td >
		                                用户ID:
		                                <input type="text" class="txt" name="id" value="{param id}" style="width:100px" />
				                         &nbsp;
				                         充值状态:
		                               <select name="status">
		                               		<option value="0" {if !$status}selected{/if}>全部</option>
		                               		<option value="2" {if $status == 2}selected{/if}>成功</option>
		                               		<option value="1" {if $status == 1}selected{/if}>未支付</option>
		                               	</select>
		                                &nbsp;
		                                充值时间
		                                 <input class="Wdate" type="text" name="startTime" value="{param startTime}" onClick="WdatePicker({'dateFmt':'yyyy-MM-dd HH:mm'})" style="width:150px" />
                                            -
                                            <input class="Wdate" type="text" name="endTime" value="{param endTime}" onClick="WdatePicker({'dateFmt':'yyyy-MM-dd HH:mm'})" style="width:150px" />
		                            </td>
		                            <td><input class="regular-button" type="submit" value="搜索" /></td>
		                        </tr>
		                    </tbody>
		                </table>
		                </form>
		            </div>
		        </div>
            	
                <h3>
	                <span class="right" style="margin-right: 15px;">
	                <!--     <a href="{$act_url}add/" style="float: right;">添加</a>  -->
	                </span>
	            </h3>
	            
                    <table id="" class="list_table" cellpadding="0" cellspacing="0" border="0">
					<thead>
					<tr>
						<th align="left">用户ID</th>
						<th align="left">用户名</th>
						<th align="left">充值金额</th>
						<th align="left">充值类型</th>
						<th align="left">充值状态</th>
						<th align="left">充值时间</th>
					</tr>
					</thead>
					<tbody>
						{loop $items $item}
						<tr>
								<td align="left">{$item['user_id']}</td>
								<td align="left">{$users[$item['user_id']]['name']}</td>
								<td align="left">{$item['money']}</td>
								<td align="left">{$item['mobile']}</td>
								<td align="left">{$payTypes[$item['pay_type']]}</td>
								<td align="left">{if $item['status']}成功{else}未支付{/if}</td>
								<td align="left">{date $item['create_time'] Y-m-d i:m}</td>
						</tr>
						{/loop}
					</tbody>
					</table>
				{if $pages}
				 <div class="page">
					{$pages}
				　</div>
				 {/if}
            </div>
        </div>
        <div class="KK_ManageList_mainbox_bot"></div>
    </div>
    <div class="clear"></div>
</div>

{tpl footer}