{tpl header}
<div class="KK_ManageList_content">
	{tpl menu}
    <div class="KK_ManageList_mainRt_side right">
    	<div class="KK_ManageList_mainbox_top"></div>
        <div class="KK_ManageList_mainbox">
        	<div class="KK_ManageList_mainbox_inner">
            	<div class="KK_ManageList_position">{lang common_position} &gt;&gt; 系统管理 &gt;&gt;  添加微博</div>
                <h3>
	                <span class="right" style="margin-right: 15px;">
	                    <a href="{$index_url}" style="float: right;">返回列表</a>
	                </span>
                </h3>
                <form action="{$insert_url}" method="post" onsubmit="return checkForm(this);">
                    <div class="KK_content_list2_con marginTop10">
                        <div class="KK_content_list2_table">
                            <table>
                                <colgroup>
                                    <col style="width:17%;" />
                                    <col style="width:83%;" />
                                </colgroup>
                                <tr>
                                    <td class="name"><span class="must">*</span>名称</td>
                                    <td class="cot">
                                    	<input type="text" class="txt" name="m_name" value="{$item['name']}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name"><span class="must">*</span>类型代码</td>
                                    <td class="cot">
                                    	<input type="text" class="txt" name="m_type" value="{$item['type']}"/><span class="input_tip">英文，不能修改,各接口实现类型码一样</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">应用KEY</td>
                                    <td class="cot">
                                    	<input type="text" class="txt" name="m_app_key" value="{$item['app_key']}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">应用Secret</td>
                                    <td class="cot">
                                    	<input type="text" class="txt" name="m_app_secret" value="{$item['app_secret']}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">URL</td>
                                    <td class="cot">
                                    	<input type="text" class="txt" name="m_url" value="{$item['app_url']}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">排序</td>
                                    <td class="cot">
                                    	<input type="text" class="txt" name="m_sort_num" value="{$item['sort_num']}" /><span class="input_tip">越大越靠前</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">状态</td>
                                    <td class="cot">
                                    	<input type="radio" name="m_status" value="1" checked>启用
                                    	<input type="radio" name="m_status" value="0" >禁用
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <colgroup>
                                    <col style="width:17%;" />
                                    <col style="width:83%;" />
                                </colgroup>
                                <tr>
                                    <td class="name">&nbsp;</td>
                                    <td class="cot">&nbsp;
                                        <input type="submit"class="btn" value="保  存"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="KK_ManageList_mainbox_bot"></div>
    </div>
    <div class="clear"></div>
</div>
{tpl footer}